body {
    text-align: center;
    margin-top: 50px;
    align-items: center;
    align-content: center;
}

button {
    font-size: 20px;
    padding: 10px 20px;
    background-color: #597de0;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}